---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">
  

  <h1 class="page-heading">Blog Posts</h1>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <ul class="listing">
    {% for post in site.posts %}
    {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
    {% if year != y %}
    {% assign year = y %}
    <br />
    <h2 class="page-heading">{{ y }}</h2>
    {% endif %}
    <li class="listing-item">
      <time datetime="{{ post.date | date:"%m-%d" }}">{{ post.date | date:"%m-%d" }}</time>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <br /><br /><br /><br />

  <h2>Tags</h2>

  <div id='tag_cloud'>
      {% for tag in site.tags %}
      <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
      {% endfor %}
  </div>
  
  <ul class="listing">
      {% for tag in site.tags %}
      <span class="listing-separator" id="{{ tag[0] }}" style = "font-style:italic;">{{ tag[0] }}</span>
      {% for post in tag[1] %}
      <li class="listing-item">
          <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
      {% endfor %}
      {% endfor %}
  </ul>
  


</div>
