<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name=viewport content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
		        	<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/cv/cv.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:branham@utexas.edu">email</a></li>
	        		<li><a href="https://github.com/jabranham">github.com/jabranham</a></li>
				</ul>
			</footer>
		</body>
	</html>
